# PROYECTO FINAL THE POWER EDUCATION

- Vamos a proceder desde este programa a la transformación, limpieza y análisis de datos de una empresa. 
- Los datos son referentes al año 2024, muchos de ellos hasta Septiembre.
- Para comenzar el proyecto vamos a empezar importando las librerías que vamos a utilizar, pandas y numpy

In [29]:
import pandas as pd
import numpy as np

In [30]:
#Ahora vamos a proceder a importar los ficheros en formato excel procedentes de la empresa, sólo las hojas excel que nos interesan analizar.
FT_1 = pd.read_excel("C:./Fábrica de Toner.xlsx", sheet_name=0, index_col=0)
FT_2 = pd.read_excel("C:./Fábrica de Toner.xlsx", sheet_name=2, index_col=0)
GTH_1 = pd.read_excel("C:./Gestión de Talento Humano.xlsx", sheet_name=0, index_col=0)
GTH_2 = pd.read_excel("C:./Gestión de Talento Humano.xlsx", sheet_name=1, index_col=0)
Licitaciones = pd.read_excel("C:./Licitaciones.xlsx", sheet_name=0, index_col=0)
SAT_1 = pd.read_excel("C:./SAT.xlsx", sheet_name=2, index_col=0)
SAT_2 = pd.read_excel("C:./SAT.xlsx", sheet_name=3, index_col=0)
TRÁFICO_1 = pd.read_excel("C:./TRÁFICO.xlsx", sheet_name=0, index_col=0)
TRÁFICO_2 = pd.read_excel("C:./TRÁFICO.xlsx", sheet_name=2, index_col=0)
Ventas = pd.read_excel("C:./Ventas.xlsx", sheet_name=0, index_col=0)

In [31]:
#Ahora procedemos a printear los dataframes para ver que se han importado correctamente.
print(FT_1.head())
print(FT_2.head())
print(GTH_1.head())
print(GTH_2.head())
print(Licitaciones.head())
print(SAT_1.head())
print(SAT_2.head())
print(TRÁFICO_1.head())
print(TRÁFICO_2.head())
print(Ventas.head())

          2019   2020   2021   2022   2023   2024
Mes
Enero    13449  18872  16852  45258  33549  20039
Febrero  11119  18406  18129  39183  27055  29709
Marzo    17747  19643  22427  45067  26487  24780
Abril    12669  20968  19959  33458  22039  52066
Mayo     18423  18171  23941  37369  30233  35163
                           Marca  Enero  Febrero  Marzo  Abril  Mayo  Junio  \
Tipo de producto
R-GEN                  Sin Marca     29        0      0      0     0      0
R-GEN                      CANON    140      432      8     37   846     97
R-GEN             KONICA MINOLTA   1115     1107    100   1287   390     10
R-GEN                    KYOCERA    370      284    733    883   959    849
R-GEN                    LEXMARK    638      336   1009   1868   321    454

                  Julio  Agosto  Septiembre  Total por marca
Tipo de producto
R-GEN                 0       0           0               29
R-GEN               684     757          30             3031
R-GEN               468     293        2480             7250
R-GEN              1078    1613         988             7757
R-GEN              1029     624        1492             7771
                Nº DE PERSONAS  % ABSENTISMOS  TOTAL ACUMULADO
DEPARTAMENTOS
MARKETING                    3       0.333333      65174.05502
TRAFICO                      3       0.242424      89303.86686
ADMINISTRACION               6       0.166667     176710.24940
ALMACEN                     11       0.132231     298077.98650
IT E I+D                     6       0.098485     210664.63300
                          TOTAL ACUMULADO ANUAL  TOTAL MENSUAL A 30/09/2024
DEPARTAMENTOS
LIMPIEZA                           41946.964220                 3495.580352
PREVENTA NUEVOS NEGOCIOS           43782.004297                 3648.500358
CALIDAD Y PRL                      64834.704593                 5402.892049
MARKETING                          65174.055025                 5431.171252
GRAN CUENTA PRIVADA                65822.784963                 5485.232080
                                                      CLIENTE     COMERCIAL  \
Fecha
2023-11-16      AGENCIA ESPACIAL ESPAÑOLA EXPTE. AEE2023TIC06  ANTONIO RUIZ
2023-04-11  FABRICA NACIONAL DE MONEDA Y TIMBRE - REAL CAS...      VICTORIA
2023-05-30  JEFATURA SECCION ECONOM.ADTVA 15 AGRUPACION CU...      VICTORIA
2023-05-09  AGENCIA ESTATAL CONSEJO SUPERIOR DE INVESTIGAC...        JULIAN
2023-07-07         MADRID DIGITAL EXPTE. ECON/000109/2023 L-2        JULIAN

           PROVINCIA TIPO CONTRATO    IMPORTE LICITADORES EXCLUIDO  \
Fecha
2023-11-16    MADRID       EQUIPOS        NaN         NaN      NaN
2023-04-11    MADRID       EQUIPOS   19500.00         NaN      NaN
2023-05-30    MADRID       EQUIPOS  821697.63         NaN      NaN
2023-05-09    MADRID       EQUIPOS   29362.35         NaN      NaN
2023-07-07    MADRID       EQUIPOS  270000.00         NaN      NaN

           ADJUDICATARIO BAJA ANORMAL      RECURSO PROCEDIMIENTO DURACIÓN  \
Fecha
2023-11-16           NaN           NO    CANCELADO           NaN      NaN
2023-04-11           NaN           SI  DESESTIMADA           NaN      NaN
2023-05-30           NaN           SI  DESESTIMADA           NaN      NaN
2023-05-09           NaN           SI  DESESTIMADA           NaN      NaN
2023-07-07           NaN           SI  DESESTIMADA           NaN      NaN

           UNIDADES       ESTADO  POSICIÓN OBSERVACIONES  \
Fecha
2023-11-16      NaN    CANCELADO       NaN           NaN
2023-04-11      NaN  DESESTIMADO       NaN           NaN
2023-05-30      NaN  DESESTIMADO       NaN           NaN
2023-05-09      NaN  DESESTIMADO       NaN           NaN
2023-07-07      NaN  DESESTIMADO       NaN           NaN

                                              OBJETO CONTRATO
Fecha
2023-11-16        COMPRA SISTEMA INTEGRAL DE VIDEOCONFERENCIA
2023-04-11     5 EQUIPOS MULTIFUNCIONALES DE PRODUCCION COLOR
2023-05-30                      ADQUISICION DE 220 IMPRESORAS
2023-05-09  ADQUISICION DE EQUIPOS MULTIFUNCIONALES DE PRO...
2023-07-07  ADQUISICION DE IMPRESORAS B/N EN RED DIVERSOS ...
                                     Descripción incidencia  Nº de incidencias
Nombre Técnico
ADAMEL INFORMATICA S.L                           Correctivo                  1
Alpa Copiadoras S.L. - Pablo Montoya             Correctivo                  3
BORRUECO ROMERO MARIO                            Correctivo                 34
BUROTECH                                         Correctivo                  4
CAMPOS LAMAS AUGUSTO MANUEL                      Correctivo                 10
           Nº Inst
PROVINCIA
ALMERIA          1
CADIZ           31
CANTABRIA       10
CORDOBA          6
GRANADA          9
                  Importe agencia  Importe facturado
Provincias
ALEMANIA                   220.47                460
ANGOLA                     812.30                950
AUSTRIA                     64.55                 30
BAHREIN                    661.48               1250
BARCELONA/ITALIA            67.39                 70
           Importe agencia  Importe facturado
Provincia
 MADRID               8.88                  0
ALBACETE             40.96                 65
ALICANTE            382.01                148
ALMERIA             858.73                 80
ALMERIA               6.33                  0
                     N. país                Raz. soc. cli.    Total  \
Cli.
578   Emiratos Árabes Unidos  AL FARAEENAH ELECTRIC DEVICE  36895.0
578   Emiratos Árabes Unidos  AL FARAEENAH ELECTRIC DEVICE  36895.0
578   Emiratos Árabes Unidos  AL FARAEENAH ELECTRIC DEVICE  36895.0
578   Emiratos Árabes Unidos  AL FARAEENAH ELECTRIC DEVICE  36895.0
578   Emiratos Árabes Unidos  AL FARAEENAH ELECTRIC DEVICE  36895.0

               N. agente       Factura             Prod.  \
Cli.
578   SLIEPOVA, KATERYNA  ME/24/000009         KMBHC454E
578   SLIEPOVA, KATERYNA  ME/24/000009      SD-KMBHC554E
578   SLIEPOVA, KATERYNA  ME/24/000009  HPPWCMFPP57750DW
578   SLIEPOVA, KATERYNA  ME/24/000009         KMBHC754E
578   SLIEPOVA, KATERYNA  ME/24/000009       SD-KMBHC558

                                   Descripción        Fam.    Desc. Fam.  \
Cli.
578                KONICA MINOLTA BIZHUB C454E  GM0006-006  MULTIFUNCION
578   KONICA MINOLTA BIZHUB C554E SPECIAL DEAL  GM0006-006  MULTIFUNCION
578     HP PAGEWIDE MANAGED COLOR MFP P57750DW  GM0006-006  MULTIFUNCION
578                KONICA MINOLTA BIZHUB C754E  GM0006-006  MULTIFUNCION
578    KONICA MINOLTA BIZHUB C558 SPECIAL DEAL  GM0006-006  MULTIFUNCION

      Unid.  Imp. neto      Fecha    MES   AÑO Devoluciones/Ventas  \
Cli.
578      10     2500.0 2024-01-12  enero  2024              Ventas
578       7     1750.0 2024-01-12  enero  2024              Ventas
578       1      120.0 2024-01-12  enero  2024              Ventas
578      13     5850.0 2024-01-12  enero  2024              Ventas
578       5     1625.0 2024-01-12  enero  2024              Ventas

     Tipo de producto  Coste comercial  Imp. Coste comercial     M €       M %
Cli.
578         MAQUINAS             360.0                3600.0 -1100.0 -0.305556
578         MAQUINAS             600.0                4200.0 -2450.0 -0.583333
578         MAQUINAS              90.0                  90.0    30.0  0.333333
578         MAQUINAS             600.0                7800.0 -1950.0 -0.250000
578         MAQUINAS             900.0                4500.0 -2875.0 -0.638889

# Patrones, identificación, anomalías, verificación y suposiciones de datos

In [32]:
#Comprobamos los tipos de datos de cada dataframe.
print(FT_1.dtypes)
print(FT_2.dtypes)
print(GTH_1.dtypes)
print(GTH_2.dtypes)
print(Licitaciones.dtypes)
print(SAT_1.dtypes)
print(SAT_2.dtypes)
print(TRÁFICO_1.dtypes)
print(TRÁFICO_2.dtypes)
print(Ventas.dtypes)
#La gran mayoría de los datos están en el formato correcto, pero hay algunos que no.
#Procedemos a corregir los tipos de datos incorrectos.
Ventas['Fecha'] = pd.to_datetime(Ventas['Fecha'], errors='coerce')
#Volvemos a comprobar los tipos de datos para asegurarnos de que todo está correcto.
print(Ventas.dtypes)

2019    int64
2020    int64
2021    int64
2022    int64
2023    int64
2024    int64
dtype: object
Marca              object
Enero               int64
Febrero             int64
Marzo               int64
Abril               int64
Mayo                int64
Junio               int64
Julio               int64
Agosto              int64
Septiembre          int64
Total por marca     int64
dtype: object
Nº DE PERSONAS       int64
% ABSENTISMOS      float64
TOTAL ACUMULADO    float64
dtype: object
TOTAL ACUMULADO ANUAL         float64
TOTAL MENSUAL A 30/09/2024    float64
dtype: object
CLIENTE             object
COMERCIAL           object
PROVINCIA           object
TIPO CONTRATO       object
IMPORTE            float64
LICITADORES         object
EXCLUIDO            object
ADJUDICATARIO       object
BAJA ANORMAL        object
RECURSO             object
PROCEDIMIENTO       object
DURACIÓN            object
UNIDADES            object
ESTADO              object
POSICIÓN           float64
OBSERVACIONES       object
OBJETO CONTRATO     object
dtype: object
Descripción incidencia    object
Nº de incidencias          int64
dtype: object
Nº Inst    int64
dtype: object
Importe agencia      float64
Importe facturado      int64
dtype: object
Importe agencia      float64
Importe facturado      int64
dtype: object
N. país                         object
Raz. soc. cli.                  object
Total                          float64
N. agente                       object
Factura                         object
Prod.                           object
Descripción                     object
Fam.                            object
Desc. Fam.                      object
Unid.                            int64
Imp. neto                      float64
Fecha                   datetime64[ns]
MES                             object
AÑO                              int64
Devoluciones/Ventas             object
Tipo de producto                object
Coste comercial                float64
Imp. Coste comercial           float64
M €                            float64
M %                            float64
dtype: object
N. país                         object
Raz. soc. cli.                  object
Total                          float64
N. agente                       object
Factura                         object
Prod.                           object
Descripción                     object
Fam.                            object
Desc. Fam.                      object
Unid.                            int64
Imp. neto                      float64
Fecha                   datetime64[ns]
MES                             object
AÑO                              int64
Devoluciones/Ventas             object
Tipo de producto                object
Coste comercial                float64
Imp. Coste comercial           float64
M €                            float64
M %                            float64
dtype: object

In [33]:
#Comprobamos si hay columnas completamente vacías en los dataframes.
print(FT_1.columns[FT_1.isnull().all()])
print(FT_2.columns[FT_2.isnull().all()])
print(GTH_1.columns[GTH_1.isnull().all()])
print(GTH_2.columns[GTH_2.isnull().all()])
print(Licitaciones.columns[Licitaciones.isnull().all()])
print(SAT_1.columns[SAT_1.isnull().all()])
print(SAT_2.columns[SAT_2.isnull().all()])
print(TRÁFICO_1.columns[TRÁFICO_1.isnull().all()])
print(TRÁFICO_2.columns[TRÁFICO_2.isnull().all()])
print(Ventas.columns[Ventas.isnull().all()])
#No hay columnas completamente vacías en ninguno de los dataframes.

Index([], dtype='int64')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')

In [34]:
#Comprobamos si hay valores duplicados en los dataframes.
print(FT_1.duplicated().sum())
print(FT_2.duplicated().sum())
print(GTH_1.duplicated().sum())
print(GTH_2.duplicated().sum())
print(Licitaciones.duplicated().sum())
print(SAT_1.duplicated().sum())
print(SAT_2.duplicated().sum())
print(TRÁFICO_1.duplicated().sum())
print(TRÁFICO_2.duplicated().sum())
print(Ventas.duplicated().sum())
#No hay valores duplicados en ninguno de los dataframes.

0
0
0
0
0
38
3
0
1
397

In [35]:
#Comprobamos si hay valores nulos en los dataframes.
print(FT_1.isnull().sum())
print(FT_2.isnull().sum())
print(GTH_1.isnull().sum())
print(GTH_2.isnull().sum())
print(Licitaciones.isnull().sum())
print(SAT_1.isnull().sum())
print(SAT_2.isnull().sum())
print(TRÁFICO_1.isnull().sum())
print(TRÁFICO_2.isnull().sum())
print(Ventas.isnull().sum())
#No hay valores nulos en ninguno de los dataframes.

2019    0
2020    0
2021    0
2022    0
2023    0
2024    0
dtype: int64
Marca              0
Enero              0
Febrero            0
Marzo              0
Abril              0
Mayo               0
Junio              0
Julio              0
Agosto             0
Septiembre         0
Total por marca    0
dtype: int64
Nº DE PERSONAS     0
% ABSENTISMOS      0
TOTAL ACUMULADO    0
dtype: int64
TOTAL ACUMULADO ANUAL         0
TOTAL MENSUAL A 30/09/2024    0
dtype: int64
CLIENTE              0
COMERCIAL            6
PROVINCIA            0
TIPO CONTRATO        3
IMPORTE             18
LICITADORES        758
EXCLUIDO           913
ADJUDICATARIO      684
BAJA ANORMAL       215
RECURSO            267
PROCEDIMIENTO      684
DURACIÓN           483
UNIDADES           833
ESTADO               0
POSICIÓN           482
OBSERVACIONES      776
OBJETO CONTRATO    273
dtype: int64
Descripción incidencia    0
Nº de incidencias         0
dtype: int64
Nº Inst    0
dtype: int64
Importe agencia      0
Importe facturado    0
dtype: int64
Importe agencia      0
Importe facturado    0
dtype: int64
N. país                 0
Raz. soc. cli.          0
Total                   0
N. agente               0
Factura                 0
Prod.                   0
Descripción             0
Fam.                    0
Desc. Fam.              0
Unid.                   0
Imp. neto               0
Fecha                   0
MES                     0
AÑO                     0
Devoluciones/Ventas     0
Tipo de producto        0
Coste comercial         0
Imp. Coste comercial    0
M €                     0
M %                     0
dtype: int64

In [36]:
#Comprobamos si hay valores nan en los dataframes.
print(FT_1.isna().sum())
print(FT_2.isna().sum())
print(GTH_1.isna().sum())
print(GTH_2.isna().sum())
print(Licitaciones.isna().sum())
print(SAT_1.isna().sum())
print(SAT_2.isna().sum())
print(TRÁFICO_1.isna().sum())
print(TRÁFICO_2.isna().sum())
print(Ventas.isna().sum())
#No hay valores nan en ninguno de los dataframes.

2019    0
2020    0
2021    0
2022    0
2023    0
2024    0
dtype: int64
Marca              0
Enero              0
Febrero            0
Marzo              0
Abril              0
Mayo               0
Junio              0
Julio              0
Agosto             0
Septiembre         0
Total por marca    0
dtype: int64
Nº DE PERSONAS     0
% ABSENTISMOS      0
TOTAL ACUMULADO    0
dtype: int64
TOTAL ACUMULADO ANUAL         0
TOTAL MENSUAL A 30/09/2024    0
dtype: int64
CLIENTE              0
COMERCIAL            6
PROVINCIA            0
TIPO CONTRATO        3
IMPORTE             18
LICITADORES        758
EXCLUIDO           913
ADJUDICATARIO      684
BAJA ANORMAL       215
RECURSO            267
PROCEDIMIENTO      684
DURACIÓN           483
UNIDADES           833
ESTADO               0
POSICIÓN           482
OBSERVACIONES      776
OBJETO CONTRATO    273
dtype: int64
Descripción incidencia    0
Nº de incidencias         0
dtype: int64
Nº Inst    0
dtype: int64
Importe agencia      0
Importe facturado    0
dtype: int64
Importe agencia      0
Importe facturado    0
dtype: int64
N. país                 0
Raz. soc. cli.          0
Total                   0
N. agente               0
Factura                 0
Prod.                   0
Descripción             0
Fam.                    0
Desc. Fam.              0
Unid.                   0
Imp. neto               0
Fecha                   0
MES                     0
AÑO                     0
Devoluciones/Ventas     0
Tipo de producto        0
Coste comercial         0
Imp. Coste comercial    0
M €                     0
M %                     0
dtype: int64

In [37]:
#Como hemos observado que hay valores nan, vamos a proceder a cambiarlos en las columnas categóricas por "Desconocido".
categorical_columns = Licitaciones.select_dtypes(include=['object']).columns
for column in categorical_columns:
    Licitaciones[column] = Licitaciones[column].fillna('Desconocido')

# Análisis exploratorio de los datos

In [38]:
# 1. Información general
print(FT_1.info())
print(FT_2.info())
print(GTH_1.info())
print(GTH_2.info())
print(Licitaciones.info())
print(SAT_1.info())
print(SAT_2.info())
print(TRÁFICO_1.info())
print(TRÁFICO_2.info())
print(Ventas.info())

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, Enero to Diciembre
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2019    12 non-null     int64
 1   2020    12 non-null     int64
 2   2021    12 non-null     int64
 3   2022    12 non-null     int64
 4   2023    12 non-null     int64
 5   2024    12 non-null     int64
dtypes: int64(6)
memory usage: 672.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, R-GEN to R-OEM
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marca            20 non-null     object
 1   Enero            20 non-null     int64
 2   Febrero          20 non-null     int64
 3   Marzo            20 non-null     int64
 4   Abril            20 non-null     int64
 5   Mayo             20 non-null     int64
 6   Junio            20 non-null     int64
 7   Julio            20 non-null     int64
 8   Agosto           20 non-null     int64
 9   Septiembre       20 non-null     int64
 10  Total por marca  20 non-null     int64
dtypes: int64(10), object(1)
memory usage: 1.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, MARKETING to GTH
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nº DE PERSONAS   23 non-null     int64
 1   % ABSENTISMOS    23 non-null     float64
 2   TOTAL ACUMULADO  23 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 736.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, LIMPIEZA to PRODUCCION
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TOTAL ACUMULADO ANUAL       23 non-null     float64
 1   TOTAL MENSUAL A 30/09/2024  23 non-null     float64
dtypes: float64(2)
memory usage: 552.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 954 entries, 2023-11-16 to 2019-07-31
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLIENTE          954 non-null    object
 1   COMERCIAL        954 non-null    object
 2   PROVINCIA        954 non-null    object
 3   TIPO CONTRATO    954 non-null    object
 4   IMPORTE          936 non-null    float64
 5   LICITADORES      954 non-null    object
 6   EXCLUIDO         954 non-null    object
 7   ADJUDICATARIO    954 non-null    object
 8   BAJA ANORMAL     954 non-null    object
 9   RECURSO          954 non-null    object
 10  PROCEDIMIENTO    954 non-null    object
 11  DURACIÓN         954 non-null    object
 12  UNIDADES         954 non-null    object
 13  ESTADO           954 non-null    object
 14  POSICIÓN         472 non-null    float64
 15  OBSERVACIONES    954 non-null    object
 16  OBJETO CONTRATO  954 non-null    object
dtypes: float64(2), object(15)
memory usage: 134.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 110 entries, ADAMEL INFORMATICA S.L to VERGARA GONZALEZ, IVAN
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Descripción incidencia  110 non-null    object
 1   Nº de incidencias       110 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, ALMERIA to VALENCIA
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nº Inst  12 non-null     int64
dtypes: int64(1)
memory usage: 192.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, ALEMANIA to SENEGAL
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Importe agencia    26 non-null     float64
 1   Importe facturado  26 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 624.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 60 entries,  MADRID to ZARAGOZA
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Importe agencia    60 non-null     float64
 1   Importe facturado  60 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 1.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 18223 entries, 578 to 4145
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   N. país               18223 non-null  object
 1   Raz. soc. cli.        18223 non-null  object
 2   Total                 18223 non-null  float64
 3   N. agente             18223 non-null  object
 4   Factura               18223 non-null  object
 5   Prod.                 18223 non-null  object
 6   Descripción           18223 non-null  object
 7   Fam.                  18223 non-null  object
 8   Desc. Fam.            18223 non-null  object
 9   Unid.                 18223 non-null  int64
 10  Imp. neto             18223 non-null  float64
 11  Fecha                 18223 non-null  datetime64[ns]
 12  MES                   18223 non-null  object
 13  AÑO                   18223 non-null  int64
 14  Devoluciones/Ventas   18223 non-null  object
 15  Tipo de producto      18223 non-null  object
 16  Coste comercial       18223 non-null  float64
 17  Imp. Coste comercial  18223 non-null  float64
 18  M €                   18223 non-null  float64
 19  M %                   18223 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(11)
memory usage: 2.9+ MB
None

In [39]:
# 2. Estadísticas descriptivas
print(FT_1.describe(include='all'))
print(FT_2.describe(include='all'))
print(GTH_1.describe(include='all'))
print(GTH_2.describe(include='all'))
print(Licitaciones.describe(include='all'))
print(SAT_1.describe(include='all'))
print(SAT_2.describe(include='all'))
print(TRÁFICO_1.describe(include='all'))
print(TRÁFICO_2.describe(include='all'))
print(Ventas.describe(include='all'))

               2019          2020          2021          2022          2023  \
count     12.000000     12.000000     12.000000     12.000000     12.000000
mean   15034.416667  21178.166667  27996.666667  34800.416667  25873.083333
std     4248.140416   5665.813571   9656.899289   8397.421568   6242.085832
min     6230.000000  10999.000000  16852.000000  19808.000000  17721.000000
25%    12909.750000  18347.250000  21810.000000  30022.250000  21513.250000
50%    14765.000000  19521.500000  25616.000000  37094.500000  26314.500000
75%    17916.000000  26500.750000  31909.000000  40120.500000  28299.500000
max    22498.000000  29933.000000  47386.000000  45258.000000  38564.000000

               2024
count     12.000000
mean   23449.833333
std    16265.973603
min        0.000000
25%    15029.250000
50%    27244.500000
75%    32950.750000
max    52066.000000
            Marca        Enero       Febrero         Marzo         Abril  \
count          20    20.000000     20.000000     20.000000     20.000000
unique         13          NaN           NaN           NaN           NaN
top     Sin Marca          NaN           NaN           NaN           NaN
freq            2          NaN           NaN           NaN           NaN
mean          NaN  1001.950000   1485.450000   1239.000000   2603.300000
std           NaN  1939.643171   4971.369815   3268.505388   6149.155792
min           NaN     0.000000      0.000000      0.000000      0.000000
25%           NaN    64.250000      0.000000      7.250000     17.500000
50%           NaN   331.500000    214.500000    148.500000    424.000000
75%           NaN   821.750000    390.750000    529.000000   1758.500000
max           NaN  7707.000000  22447.000000  13454.000000  26821.000000

                Mayo         Junio         Julio       Agosto   Septiembre  \
count      20.000000     20.000000     20.000000    20.000000     20.00000
unique           NaN           NaN           NaN          NaN          NaN
top              NaN           NaN           NaN          NaN          NaN
freq             NaN           NaN           NaN          NaN          NaN
mean     1758.150000   1725.050000   1518.750000  1116.550000   1621.70000
std      5015.259927   5006.851006   3360.238288  2257.375222   3904.59624
min         0.000000      0.000000      0.000000     0.000000      0.00000
25%         0.000000      2.250000     75.000000    38.250000      4.75000
50%       381.500000    240.500000    202.500000   338.000000    245.50000
75%       981.750000    717.750000   1100.000000   822.750000   1114.00000
max     22782.000000  22170.000000  14673.000000  9679.000000  17437.00000

        Total por marca
count         20.000000
unique              NaN
top                 NaN
freq                NaN
mean       14069.900000
std        34944.216177
min            5.000000
25%          805.250000
50%         5265.000000
75%         7812.000000
max       157170.000000
       Nº DE PERSONAS  % ABSENTISMOS  TOTAL ACUMULADO
count       23.000000      23.000000     2.300000e+01
mean         9.260870       0.053998     2.810996e+05
std         12.494426       0.088402     3.261304e+05
min          1.000000       0.000000     4.194696e+04
25%          2.000000       0.000000     7.528861e+04
50%          4.000000       0.004870     1.347074e+05
75%          9.500000       0.072102     3.484996e+05
max         53.000000       0.333333     1.276568e+06
       TOTAL ACUMULADO ANUAL  TOTAL MENSUAL A 30/09/2024
count           2.300000e+01                   23.000000
mean            2.810996e+05                23424.964776
std             3.261304e+05                27177.536104
min             4.194696e+04                 3495.580352
25%             7.528861e+04                 6274.050956
50%             1.347074e+05                11225.618974
75%             3.484996e+05                29041.632330
max             1.276568e+06               106380.701226
                       CLIENTE COMERCIAL PROVINCIA TIPO CONTRATO  \
count                      954       954       954           954
unique                     947        30        92            25
top     UNIVERSIDAD DE GRANADA   NOGALES    MADRID       EQUIPOS
freq                         3       187       328           484
mean                       NaN       NaN       NaN           NaN
std                        NaN       NaN       NaN           NaN
min                        NaN       NaN       NaN           NaN
25%                        NaN       NaN       NaN           NaN
50%                        NaN       NaN       NaN           NaN
75%                        NaN       NaN       NaN           NaN
max                        NaN       NaN       NaN           NaN

             IMPORTE  LICITADORES     EXCLUIDO ADJUDICATARIO BAJA ANORMAL  \
count   9.360000e+02          954          954           954          954
unique           NaN          187           36           100            3
top              NaN  Desconocido  Desconocido   Desconocido           NO
freq             NaN          758          913           684          540
mean    4.889917e+05          NaN          NaN           NaN          NaN
std     3.545516e+06          NaN          NaN           NaN          NaN
min     3.746700e+02          NaN          NaN           NaN          NaN
25%     1.497679e+04          NaN          NaN           NaN          NaN
50%     3.705569e+04          NaN          NaN           NaN          NaN
75%     1.198810e+05          NaN          NaN           NaN          NaN
max     8.528430e+07          NaN          NaN           NaN          NaN

            RECURSO PROCEDIMIENTO     DURACIÓN     UNIDADES   ESTADO  \
count           954           954          954          954      954
unique          122             4           44           55        9
top     Desconocido   Desconocido  Desconocido  Desconocido  PERDIDO
freq            267           684          483          833      401
mean            NaN           NaN          NaN          NaN      NaN
std             NaN           NaN          NaN          NaN      NaN
min             NaN           NaN          NaN          NaN      NaN
25%             NaN           NaN          NaN          NaN      NaN
50%             NaN           NaN          NaN          NaN      NaN
75%             NaN           NaN          NaN          NaN      NaN
max             NaN           NaN          NaN          NaN      NaN

           POSICIÓN OBSERVACIONES OBJETO CONTRATO
count    472.000000           954             954
unique          NaN            53             658
top             NaN   Desconocido     Desconocido
freq            NaN           776             273
mean       7.991525           NaN             NaN
std      133.419919           NaN             NaN
min        1.000000           NaN             NaN
25%        1.000000           NaN             NaN
50%        1.000000           NaN             NaN
75%        2.000000           NaN             NaN
max     2900.000000           NaN             NaN
       Descripción incidencia  Nº de incidencias
count                     110         110.000000
unique                      7                NaN
top                Correctivo                NaN
freq                       65                NaN
mean                      NaN          33.645455
std                       NaN          57.591505
min                       NaN           1.000000
25%                       NaN           3.000000
50%                       NaN           7.000000
75%                       NaN          30.750000
max                       NaN         237.000000
         Nº Inst
count  12.000000
mean   11.500000
std     9.774736
min     1.000000
25%     3.000000
50%     9.500000
75%    17.000000
max    31.000000
       Importe agencia  Importe facturado
count        26.000000          26.000000
mean        945.366154         671.346154
std         881.620237         859.208424
min          47.500000           0.000000
25%         196.010000          40.000000
50%         736.890000         322.500000
75%        1374.885000         957.500000
max        2861.920000        3115.000000
       Importe agencia  Importe facturado
count        60.000000          60.000000
mean        415.251667          50.383333
std         708.539891          97.572935
min           3.300000           0.000000
25%          29.982500           0.000000
50%          81.320000           6.000000
75%         392.652500          66.250000
max        3801.570000         606.000000
       N. país                Raz. soc. cli.          Total  \
count    18223                         18223   18223.000000
unique      79                           522            NaN
top     España  PALMO SUMINISTRO INTEGRAL SL            NaN
freq      7364                           420            NaN
mean       NaN                           NaN    9632.241028
min        NaN                           NaN  -67507.500000
25%        NaN                           NaN     591.990000
50%        NaN                           NaN    2628.800000
75%        NaN                           NaN   10932.280000
max        NaN                           NaN  326631.000000
std        NaN                           NaN   17661.917993

                 N. agente       Factura  Prod.         Descripción  \
count                18223         18223  18223               18223
unique                  15          2371   2672                3041
top     PADILLA HERA NURIA  ME/24/003249  SEATN  PACKING COST TONER
freq                  3113           129   1281                1276
mean                   NaN           NaN    NaN                 NaN
min                    NaN           NaN    NaN                 NaN
25%                    NaN           NaN    NaN                 NaN
50%                    NaN           NaN    NaN                 NaN
75%                    NaN           NaN    NaN                 NaN
max                    NaN           NaN    NaN                 NaN
std                    NaN           NaN    NaN                 NaN

              Fam.       Desc. Fam.         Unid.     Imp. neto  \
count        18223            18223  18223.000000  18223.000000
unique          70               70           NaN           NaN
top     GM0007-016  TONERS R-GEN GM           NaN           NaN
freq          7086             7113           NaN           NaN
mean           NaN              NaN     36.834550    433.958282
min            NaN              NaN  -2476.000000 -41480.000000
25%            NaN              NaN      1.000000     21.000000
50%            NaN              NaN      4.000000     80.000000
75%            NaN              NaN     15.000000    350.000000
max            NaN              NaN  20222.000000  76164.500000
std            NaN              NaN    290.413421   1803.647699

                                Fecha      MES      AÑO Devoluciones/Ventas  \
count                           18223    18223  18223.0               18223
unique                            NaN       12      NaN                   2
top                               NaN  octubre      NaN              Ventas
freq                              NaN     3112      NaN               17256
mean    2024-08-21 08:09:08.405860864      NaN   2024.0                 NaN
min               2024-01-12 00:00:00      NaN   2024.0                 NaN
25%               2024-05-28 00:00:00      NaN   2024.0                 NaN
50%               2024-09-25 00:00:00      NaN   2024.0                 NaN
75%               2024-11-13 00:00:00      NaN   2024.0                 NaN
max               2024-12-31 00:00:00      NaN   2024.0                 NaN
std                               NaN      NaN      0.0                 NaN

       Tipo de producto  Coste comercial  Imp. Coste comercial           M €  \
count             18223     18223.000000          18223.000000  1.822300e+04
unique                8              NaN                   NaN           NaN
top        CONSUMIBLES               NaN                   NaN           NaN
freq              15320              NaN                   NaN           NaN
mean                NaN        48.121066            369.560695  8.042881e+01
min                 NaN       -21.000000         -18300.000000 -1.144000e+04
25%                 NaN        11.000000             18.190942  1.110223e-16
50%                 NaN        19.000000             60.000000  1.600000e+01
75%                 NaN        26.939200            270.000000  6.800000e+01
max                 NaN     17980.000000          76164.500000  1.443050e+04
std                 NaN       213.110449           1673.203032  3.299445e+02

                 M %
count   18223.000000
unique           NaN
top              NaN
freq             NaN
mean        0.324140
min        -0.916667
25%         0.000000
50%         0.266667
75%         0.444444
max        44.454545
std         0.543705

In [40]:
# 3. Distribución de variables categoricas
print(FT_2['Marca'].value_counts())
print(Licitaciones['PROVINCIA'].value_counts())
print(Licitaciones['TIPO CONTRATO'].value_counts())
print(Licitaciones['RECURSO'].value_counts())
print(Licitaciones['ESTADO'].value_counts())
print(Ventas['N. país'].value_counts())
print(Ventas['Raz. soc. cli.'].value_counts())
print(Ventas['Prod.'].value_counts())
print(Ventas['Tipo de producto'].value_counts())
#No hay valores atípicos en las variables categoricas.

Marca
Sin Marca         2
CANON             2
KONICA MINOLTA    2
LEXMARK           2
RICOH             2
XEROX             2
SHARP             2
KYOCERA           1
OLIVETTI          1
SINDOH            1
TOSHIBA           1
TRIUMPH-ADLER     1
UTAX              1
Name: count, dtype: int64
PROVINCIA
MADRID           328
SEVILLA          173
ANDALUCIA         70
BARCELONA         55
CADIZ             44
                ...
ELCHE              1
CASTILLA LEON      1
ALICANTE           1
CAS.LA MANCHA      1
VITORIA            1
Name: count, Length: 92, dtype: int64
TIPO CONTRATO
EQUIPOS                       484
REPRO                         185
GLS REPRO                      60
EPS                            55
OTROS                          32
SUMINISTRO                     31
MANTENIMIENTO                  21
CONSUMIBLES                    20
PANTALLAS                      11
ALQUILER Y MANTENIMIENTO       10
REPROGRAFIA                     8
ALQUILER                        8
RENTING                         6
IMPRESIÓN                       5
SUMINISTRO Y MANTENIMIENTO      4
Desconocido                     3
MIXTO                           2
MATERIAL OFICINA                2
IMPRENTA                        1
SUMINISTRO MATERIAL             1
MATERIAL                        1
PAPELERIA                       1
SUMINSTRO                       1
ALQUILER Y MNTO                 1
MADRID                          1
Name: count, dtype: int64
RECURSO
Desconocido                      267
GM                               145
PUBLICO                          144
PENDIENTE                         68
INVITACION                        68
                                ...
COPIADORAS DOS                     1
SOBRESIL                           1
ARTES GRAFICAS BOTELLA             1
LINCE ARTES GRAFICAS               1
SOLANA E HIJOS ARTES GRAFICAS      1
Name: count, Length: 122, dtype: int64
ESTADO
PERDIDO        401
GANADO         328
DESESTIMADO    100
PENDIENTE       64
EXCLUIDO        47
DESIERTA         5
CANCELADO        3
ANULADO          3
CEDIDA           3
Name: count, dtype: int64
N. país
España                             7364
Francia                            1257
Italia                             1088
Polonia                             964
Países Bajos                        619
                                   ...
Turquía                               4
Burkina Faso                          4
Guinea                                3
República Democrática del Congo       3
Sri Lanka                             2
Name: count, Length: 79, dtype: int64
Raz. soc. cli.
PALMO SUMINISTRO INTEGRAL SL                       420
COPY DEPO Hungary Kft                              405
SARL COPYMIX                                       403
COPY CARTA ONE SRL                                 346
EUROIMPEX SA                                       318
                                                  ...
ALLQUIP OFFICE EQUIPMENT LTD                         1
NABIL LAMSIKA                                        1
LETERUS S.C., NORBERT NIEWIADOMSKI, NORBERT KPA      1
CROWOOD INDUSTRIES LTD                               1
PROFICÓPIA LDA                                       1
Name: count, Length: 522, dtype: int64
Prod.
SEATN           1281
GENMPC3503K      246
GENMPC3503C      218
GENMPC3503Y      216
GENMPC3503M      209
                ...
BUTNP79M           1
BUCEXV55Y          1
HPLJ600M602N       1
HPCLJM555          1
KMBH227ECSEL       1
Name: count, Length: 2672, dtype: int64
Tipo de producto
CONSUMIBLES                    15320
COSTE DE EMBALAJE               1559
MAQUINAS                        1136
MAQUINAS ECO GREEN               121
MAQUINAS GREEN LINE               53
CONSUMIBLES NEGOCIOS NUEVOS       22
CONSUMIBLES GREEN LINE            11
CONSUMIBLES ECO GREEN              1
Name: count, dtype: int64

In [41]:
# 4. Comprobación de valores nulos
#Como lo hemos hecho en el paso anterior, no es necesario repetirlo aquí.
# Hemos visto que no hay valores nulos en ninguno de los dataframes.

In [42]:
# 5. Correlación entre variables numéricas
print(FT_1.corr(numeric_only=True)) 
print(FT_2.corr(numeric_only=True))
print(GTH_1.corr(numeric_only=True))
print(GTH_2.corr(numeric_only=True))
print(Licitaciones.corr(numeric_only=True))
print(SAT_1.corr(numeric_only=True))
print(SAT_2.corr(numeric_only=True))
print(TRÁFICO_1.corr(numeric_only=True))
print(TRÁFICO_2.corr(numeric_only=True))
print(Ventas.corr(numeric_only=True))
#No hay correlaciones muy fuertes entre las variables numéricas en ninguno de los dataframes.

          2019      2020      2021      2022      2023      2024
2019  1.000000  0.742861  0.339629 -0.002768  0.090533 -0.097213
2020  0.742861  1.000000  0.542826  0.071547  0.051851 -0.143634
2021  0.339629  0.542826  1.000000 -0.198031  0.309410 -0.736807
2022 -0.002768  0.071547 -0.198031  1.000000  0.511620  0.144240
2023  0.090533  0.051851  0.309410  0.511620  1.000000 -0.522674
2024 -0.097213 -0.143634 -0.736807  0.144240 -0.522674  1.000000
                    Enero   Febrero     Marzo     Abril      Mayo     Junio  \
Enero            1.000000  0.869637  0.968519  0.856631  0.853761  0.935807
Febrero          0.869637  1.000000  0.921561  0.935468  0.987646  0.982181
Marzo            0.968519  0.921561  1.000000  0.883126  0.911668  0.970669
Abril            0.856631  0.935468  0.883126  1.000000  0.936797  0.937387
Mayo             0.853761  0.987646  0.911668  0.936797  1.000000  0.974684
Junio            0.935807  0.982181  0.970669  0.937387  0.974684  1.000000
Julio            0.884582  0.941177  0.940783  0.880010  0.966411  0.955314
Agosto           0.946759  0.927599  0.966563  0.949020  0.920269  0.966477
Septiembre       0.920803  0.976337  0.948598  0.965864  0.964317  0.980975
Total por marca  0.926286  0.983347  0.962628  0.961820  0.981325  0.994497

                    Julio    Agosto  Septiembre  Total por marca
Enero            0.884582  0.946759    0.920803         0.926286
Febrero          0.941177  0.927599    0.976337         0.983347
Marzo            0.940783  0.966563    0.948598         0.962628
Abril            0.880010  0.949020    0.965864         0.961820
Mayo             0.966411  0.920269    0.964317         0.981325
Junio            0.955314  0.966477    0.980975         0.994497
Julio            1.000000  0.913145    0.934270         0.960971
Agosto           0.913145  1.000000    0.966523         0.972886
Septiembre       0.934270  0.966523    1.000000         0.991671
Total por marca  0.960971  0.972886    0.991671         1.000000
                 Nº DE PERSONAS  % ABSENTISMOS  TOTAL ACUMULADO
Nº DE PERSONAS          1.00000      -0.053710         0.976730
% ABSENTISMOS          -0.05371       1.000000        -0.103432
TOTAL ACUMULADO         0.97673      -0.103432         1.000000
                            TOTAL ACUMULADO ANUAL  TOTAL MENSUAL A 30/09/2024
TOTAL ACUMULADO ANUAL                         1.0                         1.0
TOTAL MENSUAL A 30/09/2024                    1.0                         1.0
           IMPORTE  POSICIÓN
IMPORTE   1.000000  0.035508
POSICIÓN  0.035508  1.000000
                   Nº de incidencias
Nº de incidencias                1.0
         Nº Inst
Nº Inst      1.0
                   Importe agencia  Importe facturado
Importe agencia           1.000000           0.513499
Importe facturado         0.513499           1.000000
                   Importe agencia  Importe facturado
Importe agencia           1.000000           0.416064
Importe facturado         0.416064           1.000000
                         Total     Unid.  Imp. neto  AÑO  Coste comercial  \
Total                 1.000000  0.251657   0.463512  NaN         0.015801
Unid.                 0.251657  1.000000   0.252516  NaN        -0.022671
Imp. neto             0.463512  0.252516   1.000000  NaN         0.175679
AÑO                        NaN       NaN        NaN  NaN              NaN
Coste comercial       0.015801 -0.022671   0.175679  NaN         1.000000
Imp. Coste comercial  0.456200  0.270350   0.961973  NaN         0.184590
M €                   0.196414  0.036733   0.423567  NaN         0.051186
M %                  -0.064264 -0.040136  -0.010585  NaN        -0.049687

                      Imp. Coste comercial       M €       M %
Total                             0.456200  0.196414 -0.064264
Unid.                             0.270350  0.036733 -0.040136
Imp. neto                         0.961973  0.423567 -0.010585
AÑO                                    NaN       NaN       NaN
Coste comercial                   0.184590  0.051186 -0.049687
Imp. Coste comercial              1.000000  0.257068 -0.050106
M €                               0.257068  1.000000  0.167500
M %                              -0.050106  0.167500  1.000000

In [43]:
# 6. Análisis estadísticos de los principales atributos numéricos
print("Medias de atributos numéricos:")
print(FT_1.describe().loc['mean'])
print(FT_2.describe().loc['mean'])
print(GTH_1.describe().loc['mean'])
print(GTH_2.describe().loc['mean'])
print(Licitaciones.describe().loc['mean'])
print(SAT_1.describe().loc['mean'])
print(SAT_2.describe().loc['mean'])
print(TRÁFICO_1.describe().loc['mean'])
print(TRÁFICO_2.describe().loc['mean'])
print(Ventas.describe().loc['mean'])

print("Medianas de atributos numéricos:")
print(FT_1.median(numeric_only=True))
print(FT_2.median(numeric_only=True))
print(GTH_1.median(numeric_only=True))
print(GTH_2.median(numeric_only=True))
print(Licitaciones.median(numeric_only=True))
print(SAT_1.median(numeric_only=True))
print(SAT_2.median(numeric_only=True))
print(TRÁFICO_1.median(numeric_only=True))
print(TRÁFICO_2.median(numeric_only=True))
print(Ventas.median(numeric_only=True))

print("Desviaciones estándar de atributos numéricos:")
print(FT_1.std(numeric_only=True))
print(FT_2.std(numeric_only=True))
print(GTH_1.std(numeric_only=True))
print(GTH_2.std(numeric_only=True))
print(Licitaciones.std(numeric_only=True))
print(SAT_1.std(numeric_only=True))
print(SAT_2.std(numeric_only=True))
print(TRÁFICO_1.std(numeric_only=True))
print(TRÁFICO_2.std(numeric_only=True))
print(Ventas.std(numeric_only=True))

#Las medias, medianas y desviaciones estándar de los atributos numéricos parecen estar dentro de rangos razonables.
#No hay valores atípicos evidentes en los atributos numéricos.

Medias de atributos numéricos:
2019    15034.416667
2020    21178.166667
2021    27996.666667
2022    34800.416667
2023    25873.083333
2024    23449.833333
Name: mean, dtype: float64
Enero               1001.95
Febrero             1485.45
Marzo               1239.00
Abril               2603.30
Mayo                1758.15
Junio               1725.05
Julio               1518.75
Agosto              1116.55
Septiembre          1621.70
Total por marca    14069.90
Name: mean, dtype: float64
Nº DE PERSONAS          9.260870
% ABSENTISMOS           0.053998
TOTAL ACUMULADO    281099.577322
Name: mean, dtype: float64
TOTAL ACUMULADO ANUAL         281099.577311
TOTAL MENSUAL A 30/09/2024     23424.964776
Name: mean, dtype: float64
IMPORTE     488991.704423
POSICIÓN         7.991525
Name: mean, dtype: float64
Nº de incidencias    33.645455
Name: mean, dtype: float64
Nº Inst    11.5
Name: mean, dtype: float64
Importe agencia      945.366154
Importe facturado    671.346154
Name: mean, dtype: float64
Importe agencia      415.251667
Importe facturado     50.383333
Name: mean, dtype: float64
Total                                     9632.241028
Unid.                                        36.83455
Imp. neto                                  433.958282
Fecha                   2024-08-21 08:09:08.405860864
AÑO                                            2024.0
Coste comercial                             48.121066
Imp. Coste comercial                       369.560695
M €                                          80.42881
M %                                           0.32414
Name: mean, dtype: object
Medianas de atributos numéricos:
2019    14765.0
2020    19521.5
2021    25616.0
2022    37094.5
2023    26314.5
2024    27244.5
dtype: float64
Enero               331.5
Febrero             214.5
Marzo               148.5
Abril               424.0
Mayo                381.5
Junio               240.5
Julio               202.5
Agosto              338.0
Septiembre          245.5
Total por marca    5265.0
dtype: float64
Nº DE PERSONAS          4.00000
% ABSENTISMOS           0.00487
TOTAL ACUMULADO    134707.42770
dtype: float64
TOTAL ACUMULADO ANUAL         134707.427683
TOTAL MENSUAL A 30/09/2024     11225.618974
dtype: float64
IMPORTE     37055.69
POSICIÓN        1.00
dtype: float64
Nº de incidencias    7.0
dtype: float64
Nº Inst    9.5
dtype: float64
Importe agencia      736.89
Importe facturado    322.50
dtype: float64
Importe agencia      81.32
Importe facturado     6.00
dtype: float64
Total                   2628.800000
Unid.                      4.000000
Imp. neto                 80.000000
AÑO                     2024.000000
Coste comercial           19.000000
Imp. Coste comercial      60.000000
M €                       16.000000
M %                        0.266667
dtype: float64
Desviaciones estándar de atributos numéricos:
2019     4248.140416
2020     5665.813571
2021     9656.899289
2022     8397.421568
2023     6242.085832
2024    16265.973603
dtype: float64
Enero               1939.643171
Febrero             4971.369815
Marzo               3268.505388
Abril               6149.155792
Mayo                5015.259927
Junio               5006.851006
Julio               3360.238288
Agosto              2257.375222
Septiembre          3904.596240
Total por marca    34944.216177
dtype: float64
Nº DE PERSONAS         12.494426
% ABSENTISMOS           0.088402
TOTAL ACUMULADO    326130.433288
dtype: float64
TOTAL ACUMULADO ANUAL         326130.433246
TOTAL MENSUAL A 30/09/2024     27177.536104
dtype: float64
IMPORTE     3.545516e+06
POSICIÓN    1.334199e+02
dtype: float64
Nº de incidencias    57.591505
dtype: float64
Nº Inst    9.774736
dtype: float64
Importe agencia      881.620237
Importe facturado    859.208424
dtype: float64
Importe agencia      708.539891
Importe facturado     97.572935
dtype: float64
Total                   17661.917993
Unid.                     290.413421
Imp. neto                1803.647699
AÑO                         0.000000
Coste comercial           213.110449
Imp. Coste comercial     1673.203032
M €                       329.944464
M %                         0.543705
dtype: float64

# Para la visualización de datos, pasamos a utilizar el programa Power BI, ya que es una herramienta más potente y versátil para este propósito.